@charset "UTF-8";

}
section#corpo h1 {
	font-size: 20pt;
	color: #606060;
	background-color: #dddddd;
	padding: 8px 10px 8px 10px;
	margin: 10px 0px 10px 0px;
}
video#thomas {
	margin: auto;
	height: 400px;
}
video#show {
	height: 400px;
}
div#video {
	position: relative;
	text-align: center;
	left: 200px;
}

ul#album {
	width: 900px;
	margin: 0 auto;
	padding: 50px;
	overflow: hidden;
	list-style: none;
}

ul#album li{
	float: left;
	width: 250px;
	height: 250px;
	margin: 15px;
	border: 3px solid white;
	background-color: #ffffff;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.4);
}

ul#album li span{
	opacity: 0;
	color: #ffff00;
	text-shadow: 1px 1px 1px #000000;
	background-color: rgba(0,0,0,0.3);
	font-size: 9pt;
	line-height: 420px;
	padding: 5px
}

ul#album li:hover span {
	opacity: 1;

}

ul#album li:hover {
    transform: scale(1.5);
	transition: all 0.4s ease-in;
}


ul#album li#foto1:hover {
	background-position: 0px, 0px;
	background-size: 250px 250px;
}
ul#album li#foto2:hover {
	background-position: 0px, 0px;
	background-size: 250px 250px;
}
ul#album li#foto3:hover {
	background-position: 0px, 0px;
	background-size: 250px 250px;
}
ul#album li#foto4:hover {
	background-position: 0px, 0px;
	background-size: 250px 250px;
}
ul#album li#foto5:hover {
	background-position: 0px, 0px;
	background-size: 250px 250px;
}
ul#album li#foto6:hover {
	background-position: 0px, 0px;
	background-size: 250px 250px;
}
ul#album li#foto7:hover {
	background-position: 0px, 0px;
	background-size: 250px 250px;
}
ul#album li#foto8:hover {
	background-position: 0px, 0px;
	background-size: 250px 250px;
}
ul#album li#foto9:hover {
	background-position: 0px, 0px;
	background-size: 250px 250px;
}
ul#album li#foto10:hover {
	background-position: 0px, 0px;
	background-size: 250px 250px;
}
ul#album li#foto11:hover {
	background-position: 0px, 0px;
	background-size: 250px 250px;
}
ul#album li#foto12:hover {
	background-position: 0px, 0px;
	background-size: 250px 250px;
}
ul#album li#foto13:hover {
	background-position: 0px, 0px;
	background-size: 250px 250px;
}
ul#album li#foto14:hover {
	background-position: 0px, 0px;
	background-size: 250px 250px;
}
ul#album li#foto15:hover {
	background-position: 0px, 0px;
	background-size: 250px 250px;
}

ul#album li#foto1 {
	background: url('../_imagens/ela/1.jpg');
	background-position: 50% 50%;
	background-size: 500px 500px;
	background-color: #ffffff;
}
ul#album li#foto2 {
	background: url('../_imagens/ela/2.jpg');
	background-position: 50% 50%;
	background-size: 500px 500px;
	background-color: #ffffff;

}
ul#album li#foto3 {
	background: url('../_imagens/ela/3.jpg');
	background-position: 50% 50%;
	background-size: 500px 500px;
	background-color: #ffffff;

}
ul#album li#foto4 {
	background: url('../_imagens/ela/4.jpg');
	background-position: 50% 50%;
	background-size: 500px 500px;
	background-color: #ffffff;
}
ul#album li#foto5 {
	background: url('../_imagens/ela/5.jpg');
	background-position: 50% 50%;
	background-size: 500px 500px;
	background-color: #ffffff;
}
ul#album li#foto6 {
	background: url('../_imagens/ela/6.jpg');
	background-position: 50% 50%;
	background-size: 500px 500px;
	background-color: #ffffff;
}
ul#album li#foto7 {
	background: url('../_imagens/ela/7.jpg');
	background-position: 50% 50%;
	background-size: 500px 500px;
	background-color: #ffffff;
}
ul#album li#foto8 {
	background: url('../_imagens/ela/8.jpg');
	background-position: 50% 50%;
	background-size: 500px 500px;
	background-color: #ffffff;
}
ul#album li#foto9 {
	background: url('../_imagens/ela/9.jpg');
	background-position: 50% 50%;
	background-size: 500px 500px;
	background-color: #ffffff;
}
ul#album li#foto10 {
	background: url('../_imagens/ela/10.jpg');
	background-position: 50% 50%;
	background-size: 500px 500px;
	background-color: #ffffff;
}
ul#album li#foto11 {
	background: url('../_imagens/ela/11.jpg');
	background-position: 50% 50%;
	background-size: 500px 500px;
	background-color: #ffffff;
}
ul#album li#foto12 {
	background: url('../_imagens/ela/12.jpg');
	background-position: 50% 50%;
	background-size: 500px 500px;
	background-color: #ffffff;
}
ul#album li#foto13 {
	background: url('../_imagens/ela/13.jpg');
	background-position: 50% 50%;
	background-size: 500px 500px;
	background-color: #ffffff;
}
ul#album li#foto14 {
	background: url('../_imagens/ela/14.jpg');
	background-position: 50% 50%;
	background-size: 500px 500px;
	background-color: #ffffff;
}
ul#album li#foto15 {
	background: url('../_imagens/ela/15.jpg');
	background-position: 50% 50%;
	background-size: 500px 500px;
	background-color: #ffffff;
}